<mat-card>
  <mat-card-header>
    <mat-card-title>Citas</mat-card-title>
    <mat-card-subtitle>Visualiza las citas registradas</mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <mat-card-actions class="add-button">
      <button mat-fab [routerLink]="['new']"><mat-icon>add</mat-icon></button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <table mat-table #table [dataSource]="appointments" class="appointments-table">
      <caption>Citas registradas</caption>
      <!-- Client column -->
      <ng-container matColumnDef="client">
        <th id="client" mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let appointment">{{ appointment.client.fullName }}</td>
      </ng-container>
      <!-- Appointment date -->
      <ng-container matColumnDef="appointmentDate">
        <th id="appointmentDate" mat-header-cell *matHeaderCellDef>Fecha de la cita</th>
        <td mat-cell *matCellDef="let appointment">{{ appointment.appointmentDate }}</td>
      </ng-container>
      <!-- Created at date -->
      <ng-container matColumnDef="createdAt">
        <th id="createdAt" mat-header-cell *matHeaderCellDef> Fecha de registro </th>
        <td mat-cell *matCellDef="let appointment">{{ appointment.createdAt }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
