<mat-card>
  <mat-card-header>
    <mat-card-title i18n="Appointments@@appointments">Citas</mat-card-title>
    <mat-card-subtitle i18n="Appointments description@@appointmentsCardDescription">
      Visualiza las citas registradas
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <mat-card-actions class="add-button">
      <button mat-fab [routerLink]="['new']" matTooltip="Nueva cita" id="new-appointment-button"
          i18n-matTooltip="New appointment@@newAppointment">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <app-appointment-list [appointments]="appointments"
                          (delete)="onDelete($event)">
    </app-appointment-list>
  </mat-card-content>
</mat-card>
